body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  color: #1e6fda;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chat {
  background: rgb(255, 255, 255);
  max-width: 400px;
  margin: 30px auto;
  border: 1px solid rgb(63, 61, 61);
  box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

#chat-window {
  height: 400px;
  overflow: auto;
  background: #f3eded;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: rgb(46, 43, 43);
}

#feedback p {
  color: rgb(145, 141, 141);
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: rgb(255, 253, 253);
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

button {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
